<!DOCTYPE html>
<html>
    
    <head>
        <title>About</title>
        <link rel="icon"  type='image/png' href="/img/weather.png" >
        <link rel="stylesheet"type="text/css"  href="/css/styles.css">
    </head>
    <body>
        <div class='main-content'>
            {{>header}}
            <img class='protrait' aria-placeholder="robot.image" src="/img/robot.png">
            
        </div>
        
        {{>footer}}
    </body>
</html>